<% if User.exists?(id: params["user_id"]) %>
<% user = User.find_by(id: params["user_id"]) %>
<% user_posts = user.show_posts(params["user_id"]) %>
<div class="user-div">
    <img class = "user-image" alt='alt image for <%= user.name %>' />
    <h2> <%= user.name %> </h2>
    <h2 class="user-posts"> Number of posts:<%= user.get_number_of_posts(user.id) %> </h2>
</div>
<% user_posts.each do |post| %>
    <div class="user-div">
        <div style="display:flex;flex-flow:column;">
            <h2><a href="/users/<%= user.id %>/posts/<%= post.id %>"> <%= post.title %> </a></h2><br>
            <h3> <%= post.text.first(400) %>... </h3>
        </div>
        <p class="user-posts"> Likes:<%= post.likes_counter %><br>Comments:<%= post.get_number_of_comments(post.id) %> </p>
    </div>
    <div class="comments">
        <h2> Comments </h2>
            <% comments = post.recent_comments(post.id) %>
            <% comments.each do |comment| %>
                <h3> <%= comment.get_author_name(comment.user_id) %> : <%= comment.text %></h3>
            <% end %>
        </div>
<% end %>
<% end %>
